.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Sidebar {
  text-align: center;
  order: 1;
  background-color: #2e2d38;
  flex-basis: 2 0%;
  padding: 10px;
}

.AppNavbar {
  display: flex;
  order: 2;
  flex-direction: column;
  flex-basis: 70%;
}

.menuItem {
  background-color: #2e2d38;
}
