.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Topbar {
  padding: 10px;
  width: 100vw;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media (max-width: 667px) {
  .Topbar {
    display: flex;
    flex-direction: column;
  }
}

.Header {
  width: 100vw;
}

.AppNavbar {
  padding: 0px 10px 0 10px;
  display: flex;
  order: 2;
  flex-direction: column;
  justify-content: flex-start;
}

.List {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 70vh;
}

.AboutMe {
  order: 1;
  flex-grow: 1;
}

.MyInterests {
  order: 2;
  flex-grow: 1;
}

.AboutWebsite {
  order: 3;
  flex-grow: 1;
}
